<% title "About" %>

<h1>About</h1>

<p>
  <a href="http://www.theodinproject.com/ruby-on-rails/final-project?ref=lc-pb">
  Odin Facebook</a> is the final project for the
  <a href="http://www.theodinproject.com/ruby-on-rails">Ruby on Rails course</a>
   for The Odin Project.
</p>

<p>
  <a href="http://www.theodinproject.com/">The Odin Project</a> is a free,
  open source full stack web development curriculum focusing on
  <a href="https://rubyonrails.org">Ruby on Rails</a>.
</p>

<p>
  The style and structure of this project draws in part on the Twitter-style
  sample application developed in Chapters 3 through 12 of
  <a href="https://www.railstutorial.org">
  Michael Hartl's Ruby on Rails Tutorial</a>.
</p><br /><br />

<p>
  Check out the real deal at <a href="http://www.facebook.com/">Facebook dot com</a>.
</p>
