<% title "Contact" %>

<h1>Contact</h1>

<p>
 Check out the puny developer's mish-mash of projects, mostly related to
 <a href="http://www.theodinproject.com/">The Odin Project</a>, at her
 <a href="https://github.com/hOctopus/">GitHub page</a>.
</p>
<p>
  Ironically, while she has a Facebook page, she hasn't used it since 2014.
</p>
