<% title "Help" %>

<h1>Help</h1>

<p>
  Get answers to your questions about
  <a href="http://www.theodinproject.com">The Odin Project</a> at the
  <a href="http://www.theodinproject.com/faq">FAQ page</a>.
</p>

<p>
  For help with <a href="https://www.railstutorial.org">Michael Hartl's
  Ruby on Rails Tutorial</a>, check out the
  <a href="https://www.railstutorial.org/#help">Help Page</a>.
</p>
