<li>
  <% post.comments.each do |c| %>
    <span class="content"><%= c.content %></span>
    <span class="info">
      <%= "Posted #{time_ago_in_words(c.created_at)} ago" unless c.created_at.blank? %>
      <%= " by #{c.user.email}" unless c.user.nil? %>
      <br />
    </span>
    <% if current_user.comments.include?(c) || current_user.posts.include?(post) %>
      <span class="options">
        <ul>
          <li>
            <% unless c.id.nil? %>
              <%= link_to "delete comment", comment_path(c.id), method: :delete,
                                            class: "btn btn-xs btn-danger",
                                            data: { confirm: "Delete comment?" } %>
                                            <% end %>
          </li>
        </ul>
      </span>
    <% end %>
  <% end %>
</li>
