<%= render 'users/user_stub', user: @user %>
<% if current_user == User.find_by(id: params[:id]) %>
  <%= render 'posts/post_form' # something screwy here, see posts/_post_form.html.erb %>
<% end %>
<div class="col md-8">
  <% if @user.posts.any? %>
    <h3><%= @user.posts.count %> Posts</h3>
    <ol class="posts">
      <%= render partial: 'posts/post', collection: @posts %>
    </ol>
  <% end %>
</div>
